@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: #ffb3ba;
  padding: 2rem;
  padding-top: 0px;
}

.gra1 {
  background-image: linear-gradient(85deg, #fba8a4 0%, #dad2f3 74%);
}

.gra2 {
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
}

.gra3 {
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
}

.gra4 {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
}

.gra5 {
  background: #fbd3e9;
  background: -webkit-linear-gradient(to right, #bb377d, #fbd3e9);
  background: linear-gradient(to right, #bb377d, #fbd3e9);
}

.nano-class .bar {
  background: rgb(243, 34, 139);
}

.nanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top: 0;
}

.bar {
  width: 0;
  height: 100%;
  transition: height 0.3s;
  background: #000;
}

header {
  text-align: center;
}

.quote {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding-top: 30px;
}

.sidebar {
  padding: none;
  top: 0;
  left: 0;
  position: absolute;
}

#new-item {
  width: 40%;
  height: 30px;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1.25rem;
  padding: 20px;
  -moz-box-shadow: 0 0 30px #fff;
  -webkit-box-shadow: 0 0 30px #fff;
  box-shadow: 0px 0px 30px #fff;
}

#new-item:hover,
#add:hover,
#delete-all:hover {
  border: 2px solid rgb(243, 34, 139);
}

button {
  border: 1px solid black;
  background-color: white;
  font-size: 1.25rem;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  transition: 0.15s;
}

button:hover {
  background-color: #ffdfba;
  /* color: white; */
  border: 2px solid rgb(243, 34, 139);
  cursor: pointer;
}

#new-item:active,
#add:active,
#delete-all:active,
button:active {
  transform: translateY(2px);
}

.selected {
  background-color: #ffdfba;
  border: 2px solid rgb(243, 34, 139);
}

#add,
#delete-all {
  border: 1px solid black;
  background-color: white;
  font-size: 1.25rem;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  transition: 0.15s;
}

#add:hover,
#delete-all:hover {
  background-color: #ffdfba;
  /* color: white; */
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
  padding-top: 1.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #ffffba;
  transition: 0.15s;
  font-size: 1.25rem;
}

.item:hover {
  background-color: #ffdfba;
  border: 2px solid rgb(243, 34, 139);
}

.item-done {
  background-color: #baffc9;
}

.item-done:hover {
  background-color: #bae1ff;
  border: 2px solid rgb(243, 34, 139);
}

.todo-nav {
  padding: 30px;
  margin: auto;
}

.tools {
  padding: 10px;
}

.item-date {
  font-size: 1rem;
  font-style: italic;
}
